:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
.Categories-div{
    background-color: var(--white);
	width: 100px;
	height: auto;
	border: 1px solid var(--very-light-pink);
	border-radius: 6px;
	padding: 20px 20px 0 20px;
	position:absolute;
	top: 60px;
	left: 0;
}
.Categories-div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Categories-div ul li a{
    color: var(--back);
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}
.Categories-div ul li a:hover{
    border: 1px solid var(--hospital-green);
    border-radius: 6px;
	color: var(--hospital-green);
}